/* Box model */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Hyperlinks */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
